@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@mixin fontStyle() {

    p {
        color: rgba(0, 0, 0, 0.64);
        font-size: 1.4rem;
        font-weight: 400;
    }

    strong {
        color: rgba(0, 0, 0, 0.88);
        font-size: 1.6rem;
        font-weight: 500;
    }

}

@mixin identPredef($direction) {
    width: 100%;
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
}

@mixin ticketHoles() {
    .ball {
        background: #633BBC;
        position: absolute;
        border-radius: 50%;
        width: 2.8rem;
        height: 2.8rem;
        z-index: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background: #633BBC;
    display: flex;
    justify-content: center;
    align-items: center;
}


.boarding-pass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    letter-spacing: -0.02em;
    gap: 2rem;

    .title {
        color: White;
        font-weight: 500;
        font-size: 2rem;
        text-align: center;
    }
    
    .ticket {
        width: 32.7rem;
        @include fontStyle();
        @include ticketHoles();

        .flight-info {
            background: White;
            display: flex;
            flex-direction: column;
            border-top-right-radius: 2rem;
            border-top-left-radius: 2rem;
            padding: 2.4rem 3.2rem;
            gap: 2.4rem;
            
            .flight {
                @include identPredef(row);

                .date {
                    text-align: end;
                }
            }

            .airplane {
                animation: flyAnimation 1.5s linear infinite;
            }

            .city {
                @include identPredef(row);

                .departure {
                    width: 12.5rem;
                    display: flex;
                    flex-direction: column;

                    strong {
                        font-size: 4rem;
                    }
                }

                .arrive {
                    width: 12.5rem;
                    display: flex;
                    flex-direction: column;
                    text-align: end;

                    strong {
                        font-size: 4rem;
                    }

                    sup {
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }
            }

            &:hover {
                background: rgb(245, 245, 245);
                border-top-right-radius: 2rem;
                border-top-left-radius: 2rem;
                cursor: pointer;
            }

            &:active {
                animation: detachTicket 0.2s normal forwards;
            }
        }

        .passenger-info {
            background: White;
            display: flex;
            justify-content: space-between;
            padding: 24px 32px;
            border-top: 1px dashed rgba(0, 0, 0, 0.32);
            border-bottom: 1px dashed rgba(0, 0, 0, 0.32);
            position: relative;

            .seat {
                text-align: end;
            }
            
            .ball {
                &.lt {
                    left: -1.4rem;
                    top: -1.4rem;
                }
    
                &.lb {
                    left: -1.4rem;
                    bottom: -1.4rem;
                }
    
                &.rt {
                    right: -1.4rem;
                    top: -1.4rem;
                }
    
                &.rb {
                    right: -1.4rem;
                    bottom: -1.4rem;
                }
            }
            
            &:hover {
                background: rgb(245, 245, 245);
                cursor: pointer;
            }

            &:active {
                animation: detachTicket 0.2s normal forwards;
            }
        }
        
        .boarding-info {
            background: White;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom-right-radius: 2rem;
            border-bottom-left-radius: 2rem;
            padding: 2.4rem 3.2rem;
            gap: 2.4rem;
            
            .container {
                @include identPredef(row);
                
                .boarding {
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;
                    
                    .time {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;
                    
                    strong {
                        color: White;
                        background: #633BBC;
                        padding: 0.4rem 0.8rem;
                        border-radius: 0.8rem;
                    }
                }
            }
            
            .qr-code {
                img {
                    width: 14rem;
                    margin-bottom: 1rem;
                }
            }
        }
        
        
        &:hover {
            background: rgb(245, 245, 245);
            border-bottom-right-radius: 2rem;
            border-bottom-left-radius: 2rem;
            cursor: pointer;
        }
        
        &:active {
            animation: detachTicket 0.2s normal forwards;
        }
    }

    @keyframes flyAnimation {
        0% {
          opacity: 0;
          transform: translateX(-2rem);
        }
        50% {
          opacity: 1;
          transform: translateX(0);
        }
        100% {
          opacity: 0;
          transform: translateX(+2rem);
        }
    }

    @keyframes detachTicket {
        from {
            margin: 0;
        } to {
            margin: 0.8rem 0;
        }
    }
}

    .text {
        color: rgba(255, 255, 255, 0.64);
        width: 27rem;
        text-align: center;
        line-height: 2.4rem;
        font-size: 1.4rem;
        margin: 0 auto;
    }
}
